


* {box-sizing: border-box}

/* Style the 5tab */

body, html {
  height: 100%;
}

.slider{
position: relative;
top: 20% !important;
left: 28%;
width: 48%;
}

.pimg{
  position: fixed;
  height: 100%;
  width: 100%;
}


.pinfo{
  display: block !important;
  position: fixed;
  color: rgb(67, 55, 10);
  top: 12% !important;
  left: 20%;
  content: visible;
  z-index: 9;

}