
<div class="blurbg">
   <div class="pimg" style="position: fixed; top: 11%; z-index: 2;">
      <img src="assets/image/abhi.PNG" style="float: right; display: flex;" width="30%">
   </div>
   <div class="pimgs">
      <h1 class="header-big">Abhinandan<br>&nbsp;&nbsp;&nbsp;&nbsp;Sharma</h1>
   </div>
</div>
<hr>


   <!-- <ngx-slick-carousel class="carousel" 
         #slickModal="slick-carousel" 
         [config]="slideConfig" 
         (init)="slickInit($event)"
         (breakpoint)="breakpoint($event)"
         (afterChange)="afterChange($event)"
         (beforeChange)="beforeChange($event)">
         <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }}" alt=""  width="100%" height="50%">
         </div>
   </ngx-slick-carousel> -->


 

