.skill{
    height:100%;
    width: 100%;
    background-color: rgb(236, 185, 0);
    z-index: 4;
    display: block !important;
    position: fixed;
    color: rgb(67, 55, 10);
    top: 23% !important;
    left: 55%;
    content: visible;
    z-index: 9;
    top: 35% !important;
    left: 37%;
}