<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="skill">
     <div class="cent">
        <h2 style= " font-family: monospace;">Education</h2>
    </div>
    <br>
    <!-- <button (click)="displayPL()" class="YButton"  style=" left: 2%;" >Programmin Languages</button> -->
</div>
<div class="headPTU">
    <div class="eimg">
        <img src="assets/image/PTU.png" style="float: left; display: flex;" width="20%">
     </div>
  <h1>  Punjab Technical University</h1>  
  <h2><i>Bachelor of Technology, Computer Science Engineering</i></h2>
</div>