<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="skill">
     <div class="cent">
        <h2>Skills</h2>
    </div>
    <br>
    <!-- <button (click)="displayPL()" class="YButton"  style=" left: 2%;" >Programmin Languages</button> -->
</div>
<div style="overflow-y: scroll !important;"> 
    <div class="split left pl" style="display: block; padding-left: 2%; z-index: 21; width: 30%;">
        <h2 style="font-size: 1em;"><b>Programming Languages</b></h2>
         <!-- /*for next element */ -->
         <p style="padding: 0;
         margin: 0;"><i>SQL: </i></p>
         <div class="w3-container skillTrade">
             <div class="w3-light-grey w3-round-xlarge">
               <div class="w3-container w3-blue w3-round-xlarge" style="width:100%">100%</div>
               </div>
         </div>
           <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>Angular: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:70%">70%</div>
              </div>
        </div>
        <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>Java: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:80%">80%</div>
              </div>
        </div>
         <!-- /*for next element */ -->
         <p style="padding: 0;
         margin: 0;"><i>Python: </i></p>
         <div class="w3-container skillTrade">
             <div class="w3-light-grey w3-round-xlarge">
               <div class="w3-container w3-blue w3-round-xlarge" style="width:70%">70%</div>
               </div>
         </div>
            <!-- /*for next element */ -->
            <p style="padding: 0;
            margin: 0;"><i>PL/ SQL: </i></p>
            <div class="w3-container skillTrade">
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-blue w3-round-xlarge" style="width:80%">80%</div>
                  </div>
            </div>
         </div>
<!--          
    <div class="vl">
    </div>
    <div class="vl" style="left: 74% !important;">
    </div> -->
    <!----next container-->
    <div class="splitDown left db" style=" background-color: blanchedalmond;">
        <h2 style="font-size: 1em;"><b>Databases</b></h2>
         <!-- /*for next element */ -->
         <p style="padding: 0;
         margin: 0;"><i>Oracle SQL Developer: </i></p>
         <div class="w3-container skillTrade">
             <div class="w3-light-grey w3-round-xlarge">
               <div class="w3-container w3-blue w3-round-xlarge" style="width:100%">100%</div>
               </div>
         </div>
           <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>PostgreSQL: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:70%">70%</div>
              </div>
        </div>
        <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>Microsoft SQL Server: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:80%">80%</div>
              </div>
        </div>
    </div>
    <!----next container-->
    <div class="split right fr" style=" background-color: rgba(133, 119, 124, 0.816);">
        <h2 style="font-size: 1em;"><b>Frameworks: </b></h2>
         <!-- /*for next element */ -->
         <p style="padding: 0;
         margin: 0;"><i>Git</i></p>
         <div class="w3-container skillTrade">
             <div class="w3-light-grey w3-round-xlarge">
               <div class="w3-container w3-blue w3-round-xlarge" style="width:100%">100%</div>
               </div>
         </div>
                <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>Angular: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:90%">90%</div>
              </div>
        </div>
               <!-- /*for next element */ -->
               <p style="padding: 0;
               margin: 0;"><i>Node JS: </i></p>
               <div class="w3-container skillTrade">
                   <div class="w3-light-grey w3-round-xlarge">
                     <div class="w3-container w3-blue w3-round-xlarge" style="width:80%">80%</div>
                     </div>
               </div>
           <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>PowerApps: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:70%">70%</div>
              </div>
        </div>
        <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>Django: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:80%">80%</div>
              </div>
        </div>
         <!-- /*for next element */ -->
         <p style="padding: 0;
         margin: 0;"><i>Spring: </i></p>
         <div class="w3-container skillTrade">
             <div class="w3-light-grey w3-round-xlarge">
               <div class="w3-container w3-blue w3-round-xlarge" style="width:80%">80%</div>
               </div>
         </div>
          <!----next container-->
    <div class="splitDown right sl" style=" background-color: rgb(250, 192, 105);">
        <h2 style="font-size: 1em;"><b>Languages</b></h2>
         <!-- /*for next element */ -->
         <p style="padding: 0;
         margin: 0;"><i>English: </i></p>
         <div class="w3-container skillTrade">
             <div class="w3-light-grey w3-round-xlarge">
               <div class="w3-container w3-blue w3-round-xlarge" style="width:100%">100%</div>
               </div>
         </div>
           <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>Hindi: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:100%">100%</div>
              </div>
        </div>
        <!-- /*for next element */ -->
        <p style="padding: 0;
        margin: 0;"><i>Punjabi: </i></p>
        <div class="w3-container skillTrade">
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-blue w3-round-xlarge" style="width:100%">100%</div>
              </div>
        </div>
    </div>
    </div>
</div>
<!-- <ng-container *ngIf="this.showPL==true">
    <div class="blurbg">

    </div> -->
<!-- </ng-container> -->